<%= turbo_frame_tag(message) do %>
<div>
    <p class="pull-left pull-<%= message&.user_id %>"><%= message&.user&.username %></p>
</div>  
<br>
<article class="chat-item right">
    <section class="chat-body new-body-<%= message&.user&.id %>"
                    style="min-width: 10% !important;">
        <div class="panel b-light text-sm m-b-none msg-<%= message&.user&.id %>">
            <div class="panel-body">
                <p class="m-b-none"><%= message.text %></p>
            </div>
        </div>
        <small class="text-muted"><i class="fa fa-ok text-success"></i><%= edit_timestamp(message) %> <%= render 'shared/timestamp', model_instance: message, timestamp_field: :created_at %></small>
    <div class="pull-right display-none display-<%= message&.user_id %>"
         style="margin-bottom: 20px;">
        <%= render 'users/toggle_edit_delete_action', message: message %>
        <%= link_to 'Copy', '#' %>
        <%= link_to 'Share', '#' %>
    </div>
    </section>
<div>
</article>
<% end %>
