<%= turbo_frame_tag 'delete_message_options' do %>
  <%= form_with(model: @message, url: message_url(@message), method: :delete) do |form| %>
    <span class="list-group-item">
      <% if @message.user_id == current_user.id && @message.is_original? %>
        <%= form.check_box :delete_for_everyone %>
        <%= form.label :delete_for_everyone, 'delete for everyone' %>
        <br>
      <% end %>  
      <%= form.hidden_field :current_user_id, value: current_user.id %>
      <%= form.check_box :delete_for_current_user_id %>
      <%= form.label :delete_for_current_user_id, 'delete for me' %>
    </span>

    <br>
    <%= form.submit "Delete", class: "btn btn-rounded btn-sm btn-dark"  %>
<% end %>

<% end %>  