<%= form_with model: user do |form| %>
    <%= render 'shared/error_message', model: user %>
    <div class="list-group">
        <div class="list-group-item">
            <%= form.text_field :name, placeholder: 'Name', class: 'form-control no-border' %>
        </div>
        <div class="list-group-item">
            <%= form.text_field :username, placeholder: 'Username', class: 'form-control no-border' %>
        </div>
        <div class="list-group-item">
            <%= form.text_field :email, placeholder: 'Email', class: 'form-control no-border' %>
        </div>
        <% unless user.persisted? %>
            <div class="list-group-item">
                <%= form.text_field :password, placeholder: 'Password', class: 'form-control no-border' %>
            </div>
        <% end %>
    </div>
    <%= form.submit "#{user.persisted? ? 'Update' : 'Sign Up'}", class: 'btn btn-lg btn-primary btn-block' %>
    <% unless current_user %>
      <p class="text-center"><small>Already have an account?</small></p>
      <%= link_to 'Sign In', login_url, class: 'btn btn-lg btn-default btn-block' %>
    <% end %>  
<% end %>
             
