<section id="content" class="m-t-lg wrapper-md animated fadeInDown">
    <div class="container aside-xl">
        <a class="navbar-brand block">WeConekt</a>
        <section class="m-b-lg">
            <header class="wrapper text-center">
                <strong>Sign up and start connecting with people</strong>
            </header>
            <%= form_with model: user, url: url do |form| %>
                <%= render 'shared/error_message', model: user %>
                <div class="list-group">
                    <div class="list-group-item">
                        <%= form.text_field :name, placeholder: 'Name', class: 'form-control no-border' %>
                    </div>
                    <div class="list-group-item">
                        <%= form.text_field :username, placeholder: 'Username', class: 'form-control no-border' %>
                    </div>
                    <div class="list-group-item">
                        <%= form.text_field :email, placeholder: 'Email', class: 'form-control no-border' %>
                    </div>
                    <div class="list-group-item">
                        <%= form.text_field :password, placeholder: 'Password', class: 'form-control no-border' %>
                    </div>
                </div>
                <%= form.submit 'Sign Up', class: 'btn btn-lg btn-primary btn-block' %>
                <p class="text-center"><small>Already have an account?</small></p>
                <%= link_to 'Sign In', new_session_url, class: 'btn btn-lg btn-default btn-block' unless current_user %>
            <% end %>
        </section>
    </div>
</section>            
