 <span class="display-none display-<%= message&.user_id %>"
       style="position: absolute;
              margin-left: -25%;">
  <%= link_to 'Edit', edit_message_url(message) if message.able_to_edit? %>
</span>  

<%= turbo_frame_tag 'delete_message_options' do %>
  <% unless message.delete_for_everyone? %>
    <span class="display-message display-message-none-<%= message.delete_for_current_user_id %>"
          style="position: absolute;
                 margin-left: -18%;">
      <%= link_to 'Delete',  delete_message_options_url(message_id: message.id ) %>
    </span>  
  <% end %>  
<% end %>
