<ul class="list-group no-radius m-b-none m-t-n-xxs list-group-lg no-border">
    <li class="list-group-item">
        <a class="thumb-sm pull-left m-r-sm"> <img src="<%= image_url('profile_photo.png') %>" class="img-circle" /> </a>
        <a class="clear">
            <small class="pull-right"><%= render 'shared/timestamp', model_instance: user, timestamp_field: :last_logged_in_at if user&.last_logged_in_at %></small>
            <%= turbo_stream_from [:room_creation, user.id, current_user.id] %>
            <strong class="block">
            <%= user&.name || user&.username %> 
            <%= turbo_frame_tag [:room_creation, user.id, current_user.id] do %>
            <div style="display: flex;
                        margin: 5px;">
            <span id="connect_options">             
                <%= render 'rooms/connect_options', current_user: current_user, user: user %>
            </span>  
            </div>  
            <% end %>
            </strong>
        </a>
    </li>
</ul>
