<!DOCTYPE html>
<html>
  <head>
    <title>Weconekt</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <style>
    <%= ".msg-#{current_user&.id}" %> {
      background-color: #007bff !important;
      color: #fff;
    }

    <%= ".new-body-#{current_user&.id}" %> {
      margin-left: 45px !important;
      margin-right: 0 !important;
    }

    <%= ".pull-#{current_user&.id}" %> {
      float: right !important;
    }
</style>
  <body>
    <%= link_to 'logout', logout_path, 
                    data: { 
                        confirm: 'Are you sure?', 
                        turbo_method: :delete 
                        },
                        class: 'pull-right btn btn-s-md btn-dark btn-rounded' if current_user %>
        <br>
        <br>
    <% if current_user %>
      <%= turbo_stream_from [:ping, current_user.id] %>
      <%= turbo_frame_tag [:ping, current_user.id] %>
    <% end %>

      
     <div class='container'>
       <% flash.each do |message_type, message| %>
         <div class="alert alert-<%= message_type %>"><%= message %></div>
       <% end %>
       <br>
       <br>
       <%= yield %>
      </div>   
  </body>


<!-- footer -->
<footer id="footer"
        style="bottom: 0;
               width: 100%;
               position: fixed;">
    <div class="text-center padder clearfix">
        <p>
            <small>Powered by Hotwire<br>&copy; 2023</small>
        </p>
    </div>
</footer>
<!-- / footer -->
</html>

